In [2]:
# Operators
a=10
b=5

In [3]:
a+b

15

In [4]:
a-b

5

In [5]:
a*b

50

In [7]:
a//b

2

In [8]:
a%b

0

In [9]:
a**b

100000

In [10]:
#comparison operators

In [11]:
a==b

False

In [12]:
a!=b

True

In [13]:
a<b

False

In [14]:
a>b

True

In [15]:
a<=b

False

In [16]:
a>=b

True

In [17]:
#assignments operators 
a+=3

In [18]:
print(a)

13

In [19]:
a-=2

In [20]:
print(a)

11

In [21]:
a*=2

In [22]:
print(a)

22

In [23]:
a%=2

In [24]:
print(a)

0

In [49]:
a//=b

In [26]:
print(a)

0

In [29]:
#logical operators 
a=8
b=4
c=88
d=88

In [30]:
a==b and c==d

False

In [31]:
a==b or c==d

True

In [32]:
#Bitwise operator

In [33]:
print(a,b)

8 4

In [34]:
a&b

0

In [35]:
a=4
b=5

In [36]:
print(a,b)

4 5

In [37]:
a&b

4

In [38]:
e=1

In [39]:
a&e

0

In [40]:
a|b

5

In [41]:
f=10

In [42]:
print(b,f)

5 10

In [43]:
b|f

15

In [44]:
a^b

1

In [45]:
a^f

14

In [46]:
b^f

15

In [47]:
f=14

In [48]:
b^f

11

In [52]:
#membership operators
list1=['king','queen','pawn','rookie','tiger,','lion','joker','cards','chess']

In [53]:
'king' in list1

True

In [54]:
'king' not in list1

False

In [55]:
#identity operator
q=10 
w=10

In [56]:
q is w

True

In [57]:
list2=['king','queen','pawn','rookie','tiger,','lion','joker','cards','chess']

In [58]:
# is :check the identity of memory location 
# list use different memory location but not in vaiable it uses same memory location and use less memory 
# BUT NOT IN VARIABLE q is w True but list1 is list2 not true 
list1 is list2

False

In [59]:
list1 == list2

True

In [60]:
q==w

True

In [61]:
q is w

True

In [65]:
#conditional statements 
age =19

In [66]:
age = int(input())
if age >= 18:
    print('eligible to vote')
else:
    print('not eligible to vote')

 19

eligible to vote

In [67]:
item = input()
if item in list1:
    print('yes it is there')
else:
    print('find somewhere else')

 banana

find somewhere else

In [69]:
age = int(input())
if age >= 18 and age <= 30:
    # use comparion operator 
    print('adult')
elif age >=31 and age <= 50:
    print('mature')
elif age >= 51 and age <=60:
    print('old man')
elif age >= 51:
    print('retired')
else:
    print('you are baby')

 99

retired

In [85]:
# number is even or odd 
x= int(input("Enter a number"))
if x % 2 == 0:
    print('even')
else:
    print('odd')

Enter a number 10

even

In [82]:
age = int(input())
if age < 100 and age > 0:
    if age >= 18 and age <= 30:
        
    # use comparion operator 
        print('adult')
    elif age >=31 and age <= 50:
        print('mature')
    elif age >= 51 and age <= 60:
        print('old man')
    elif age >= 51:
        print('retired')
    else:
        print('you are baby')
else:
     print('enter proper age')

 19

adult

In [79]:
age=int(input())
if age >= 18:
    nationality = input('country')
    if nationality == 'indian':
        print('eligible to vote')
    else:
        print('not eligible')
else:
    print('under age')

 19
country indian

eligible to vote

In [80]:
nations = ['india','indian','bhrat','bhartiya']

In [81]:
age=int(input('age'))
if age >= 18:
    nationality = input('country').lower()
    if nationality in nations:
        print('eligible to vote')
    else:
        print('not eligible')
else:
    print('under age')

age 19
country bhartiya

eligible to vote

In [87]:
# switch case 
choice = int(input())
match choice:
    case 1:
        print('one')
    case 2:
        print('two')
    case 3:
        print('three')
    case _:
        print('invalid')

 3

three

In [89]:
a= int(input())
b= int(input())
o=input('operation')
match o:
    case '+':
        print(a+b)
    case '-':
        print(a-b)
    case '*':
        print(a*b)
    case _:
        print('invalid op')

 2
 3
operation *

6

In [92]:
day = input('enter day')
match day:
    case 'sat' | 'sun':
        print('weekend')
    case 'mon' | 'wed' | 'thu' | 'fri':
        print('weekday')
    case _:
        print('invalid entry')

enter day thu

weekday

In [1]:
# loops

In [5]:
for i in range (10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [6]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# in this 2 means 2 se start hoga and means 10 tkk khatm hoga and 2 ko chodke krna h .
for i in range (2,10,2):
    print(i)

2
4
6
8

In [10]:
# gap of -1 = 3-4 = -1 .
for i in range (10,2,-1):
    print(i)

10
9
8
7
6
5
4
3

In [16]:
# print the table number.
num= int(input())
for i in range (1,11,1):
    print(num,"X",i," = ",(i*num))

 4

4 X 1  =  4
4 X 2  =  8
4 X 3  =  12
4 X 4  =  16
4 X 5  =  20
4 X 6  =  24
4 X 7  =  28
4 X 8  =  32
4 X 9  =  36
4 X 10  =  40

In [17]:
# another and the advanced way to print the table of a number.
num = int (input())
for i in range(1,11,1):
    print(f"{num} X {i} = {i*num}")

 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [20]:
list1=['king','qhueen','rookie','pawn','roger','paul']

In [21]:
print(list1)

['king', 'qhueen', 'rookie', 'pawn', 'roger', 'paul']

In [3]:
list1=['king','qhueen','rookie','pawn','roger','paul']

In [4]:
# andvanced code.
a = 1
for i in list1:
    print(a,i)
    a += 1

1 king
2 qhueen
3 rookie
4 pawn
5 roger
6 paul

In [25]:
# print the specific characters .
name = 'python'
for char in name:
    print(char)

p
y
t
h
o
n

In [26]:
for i in range(1,10):
    for j in range(1,10):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [31]:
# print table 2 to 10 .
for i in range(2,11):
    for j in range(1,11):
        print(f"{i} X {j} = {i*j}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [36]:
# print that you give the user input start point and the end point  b+1 = last wala number bhi print hoga like (2,4) so 4 number table is also print in this .
a= int(input('enter the starting number'))
b = int(input('enter the ending number'))
for i in range(a,b+1):
    for j in range(1,11):
        print(f"{i} * {j } = {i*j}")

enter the starting number 2
enter the ending number 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [9]:
# search an element by using if condition
search = input()
for i in list1:
    if search == i:
        print('found')

 5

In [43]:
# print the table by using if else.
num = int(input())
if num % 2 == 0:
    for i in range(2,10):
        print(f"{num} X {i} = {i*num}")
else:
    print("odd")

 2

2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [49]:
# print start point is even and the end point is odd.
num1 = int(input())
num2 = int(input())

if num1 % 2 == 0 and  num2 % 2 != 0:
    for i in range(num1,num2+1):
        for j in range (1,11):
            print(f"{i} X {j} = {i*j}")
else:
    print('enter correct sequence')

 4
 7

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [51]:
list1=['king','qhueen','rookie','pawn','roger','paul']
list2=['king','qhueen','rookie','pawn','roger','paul']
list3=['king','qhueen','rookie','pawn','roger','paul']
list4=['king','qhueen','rookie','pawn','roger','paul']
list5=['king','qhueen','rookie','pawn','roger','paul']
list6=['king','qhueen','rookie','pawn','roger','paul']
list7=['king','qhueen','rookie','pawn','roger','paul']

In [55]:
a = 1 
for i in list7:
    print(list7)
    a += 1

['king', 'qhueen', 'rookie', 'pawn', 'roger', 'paul']
['king', 'qhueen', 'rookie', 'pawn', 'roger', 'paul']
['king', 'qhueen', 'rookie', 'pawn', 'roger', 'paul']
['king', 'qhueen', 'rookie', 'pawn', 'roger', 'paul']
['king', 'qhueen', 'rookie', 'pawn', 'roger', 'paul']
['king', 'qhueen', 'rookie', 'pawn', 'roger', 'paul']

In [57]:
# patterns 
for i in range(1,10):
    print('*')

*
*
*
*
*
*
*
*
*

In [58]:
for i in range(1,10):
    for j in range(1,10):
        print('*', end=' ')

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [61]:
for i in range(1,10):
    for j in range(1,10):
        print('*', end=' ')
    print()

* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [62]:
# right angle triangle.
for i in range(1,10):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [65]:
# print in reverse order . 
for i in range(10,0,-1):
    for j in range(i):
        print('*', end=' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [67]:
# print arrow pattern .
for i in range(1,10):
    for j in range(i):
        print('*', end=' ')
    print()
for i in range(10,0,-1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [73]:
# inverse right angle triangle : phele 4 times space print krega and 1 time 
n=5
for i in range(1,n+1):
    for space in range(n-i):
        print(' ',end=' ')
    for star in range(i):
        print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [78]:
reverse inverse right angle triangle.
n=5
for i in range(n,0,-1):
    for space in range(n-i):
        print(' ',end=' ')
    for star in range(i):
        print('*',end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [82]:
#
n=6
m=5
for i in range(1,n+1):
    for space in range(n-i):
        print(' ',end=' ')
    for star in range(i):
        print('*',end=' ')
    print()   
for i in range(m,0,-1):
    for space in range(n-i):
        print(' ',end=' ')
    for star in range(i):
        print('*',end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [83]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [84]:
num =1
for i in range (1,5):
    for j in range(1,i+1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [85]:
num = 1
for i in range (1,5):
    for i in range (i):
        print(num , end=' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [87]:
# pyrimid.
n = 5 
for i in range(1 , n + 1):
    print(" "*(n-i), end= ' ')
    print("* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [90]:
# print the inverse right angled triangle another way
n = 5 
for i in range(1 , n + 1):
    print(" "*(n-i), end= ' ')
    print("*"*i)

     *
    **
   ***
  ****
 *****

In [91]:
# reverse pyrimad
n = 5 
for i in range(n,0,-1):
    print(" "*(n-i), end= ' ')
    print("* "*i)

 * * * * *
  * * * *
   * * *
    * *
     *

In [92]:
# reverse a diamond
n = 5 
m=4
for i in range(1 , n + 1):
    print(" "*(n-i), end= ' ')
    print("* "*i)
for i in range(m,0,-1):
    print(" "*(n-i), end= ' ')
    print("* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [94]:
#while condition based loop:- user based condition
#for loop range based
n=5
while n >= 1:
    print(n)
    n -= 1

5
4
3
2
1

In [95]:
# this code basically used for password also .
n = 1
while n <= 5:
    print(n)
    n += 1

1
2
3
4
5

In [96]:
# this code basically used for password also .
password = ""
while password != '123456':
    print('enter correct password')
    password = input("enter password")
print('access granted')

enter correct password

enter password 46

enter correct password

enter password 123456

access granted

In [97]:
del password

In [98]:
import time

In [100]:
i = int(input())
while i > -1:
    print(i)
    time.sleep(1) # here 1 means  1sec baad input print hogi one agfter the another .
    i -= 1
print("-------kaboon------")

 8

8
7
6
5
4
3
2
1
0
-------kaboon------

In [106]:
for i in range(1,11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [105]:
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [108]:
for i in range (1,20):
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10
12
14
16
18

In [109]:
for i in range (1,100):
    if i % 7 != 0:
        continue
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [110]:
import random

In [116]:
while True:
    secret= random.randint(1,6)
    guess = int(input())
    if guess == secret:
        print('you won')
        break

 9
 8
 5
 1
 1
 1
 6
 6
 6

you won

In [118]:
secret= random.randint(1,6)
while True:
    secret= random.randint(1,6)
    guess = int(input())
    if guess == secret:
        print('you won')
        break

 1
 3
 6
 1
 1
 1
 1
 1
 1
 1
 1

you won

In [123]:
attempts=0
while attempts <= 3:
    pwd = input('enter password')
    if pwd == 'admin':
        print('login sucess')
        break
    attempts += 1
else:
    print('account locked')

enter password 12344566
enter password admin

login sucess

In [124]:
attempts=0
while attempts <= 3:
    pwd = input('enter password')
    if pwd == 'admin':
        print('login sucess')
        break
    attempts += 1
else:
    print('account locked')

enter password hhkh
enter password jbjbk
enter password kjbjbl
enter password jbljb

account locked

In [125]:
i = 1
while i <= 5:
    print("loading"+" , "*i)
    time.sleep(0.5)
    i += 1
print("loaded")

loading ,
loading ,  ,
loading ,  ,  ,
loading ,  ,  ,  ,
loading ,  ,  ,  ,  ,
loaded

In [2]:
num = int(input())
if num % 2 == 0:
    for i in range(1,10):
        print(f"{num} X {i} = {i*num}")
else:
    print("odd")

 5

odd